*{box-sizing: border-box;}
body{
    background-color: #111;
    color: aliceblue;
    font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
}

main{
    margin: 20px auto;
    padding: 10px;
    width: 30%;
    height: 80%;
    border: 2px solid wheat;
}